@page
@model TravelBooking.Pages.RegisterModel
@{
}
<div class="parent container d-flex justify-content-center align-items-center h-100">
    <div class="child">
        <div class="container vstack gap-4 rounded-2 spacing-1 pt-3 py-3 px-3"
            style="background-color: var(--bs-body-bg);">
            <center>
                <h1>Пожалуйста, войдите для доступа</h1>
            </center>
            <form action="/register" method="POST">
                <div class="mb-3 form-floating">
                    <input type="text" class="form-control" placeholder="Логин" id="username" name="username" required>
                    <label for="username" class="form-label">Логин</label>
                </div>
                <div class="mb-3 form-floating">
                    <input type="email" class="form-control" placeholder="Электронная почта" id="email" name="email"
                        required>
                    <label for="email" class="form-label">Электронная почта</label>
                </div>
                <div class="mb-3 form-floating">
                    <input type="phone" class="form-control" placeholder="Телефон" id="phone" name="phone" required>
                    <label for="phone" class="form-label">Номер телефона</label>
                </div>
                <div class="mb-3 form-floating">
                    <input type="password" id="password" class="form-control" name="password" placeholder="Пароль"
                        required>
                    <label for="password" class="form-label">Пароль</label>
                </div>

                <button type="submit" class="btn btn-primary" style="width: 100%;">Войти!</button>
            </form>
            <em style="align-self: flex-end;"><a asp-page="/Login">Войти!</a></em>
        </div>
    </div>
</div>