@page
@using System.Security.Claims
@model TravelBooking.Pages.AboutModel
@{
}

<h1>Агрегатор пассажирских перевозок!</h1>

Данный агрегатор сделан для простого поиска и учёта комбинированных и
простых перевозок, без разных типов(как самолёт и ЖД), так и с пересадками.
<br>
Просто выберите нужный тип перевозки, город, и найдётся ваш путь!