@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>В ваш <a asp-page="/Search">новый поисковик транспорта</a>!</p>
</div>