@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Агрегатор</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AspNetCoreDemo.styles.css" asp-append-version="true" />
</head>
<script>
    // Set theme to the user's preferred color scheme
    function updateTheme() {
        const colorMode = window.matchMedia("(prefers-color-scheme: dark)").matches ?
            "dark" :
            "light";
        document.querySelector("html").setAttribute("data-bs-theme", colorMode);
    }

    // Set theme on load
    updateTheme()

    // Update theme when the preferred scheme changes
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme)
</script>

<body class="d-flex flex-column flex-grow">
    <header>
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a asp-page="/Index" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <img class="bi me-2" width="42" height="42" role="img" aria-label="Logo" src="~/favicon.ico"
                            alt="Logo">
                        </img>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a asp-page="/Index" class="nav-link px-2 text-white">Домашняя страница</a></li>
                        <li><a asp-page="/Search" class="nav-link px-2 text-white">Поиск</a></li>
                        <li><a asp-page="/About" class="nav-link px-2 text-white">Об агрегаторе</a></li>
                    </ul>
                    @if (!User.IsInRole("regular"))
                    {
                        <div class="text-end">
                            <a type="button" class="btn btn-outline-light me-2" asp-page="/Login">Вход</a>
                            <a type="button" class="btn btn-warning" asp-page="/Register">Регистрация</a>
                        </div>
                    }
                    else
                    {
                        <div class="text-end">
                            <a type="button" class="btn btn-warning" asp-page="/Profile">Профиль</a>
                        </div>
                    }

                </div>
            </div>
        </header>
    </header>
    <div class="container d-flex flex-fill flex-column ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class=" border-top">
        <div class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <p class="col-md-4 mb-0 text-body-secondary">Foxelyss © 2025</p> <a href="/"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
                aria-label="Foxelyss"> <img class="" width="42" height="42" aria-hidden="true" alt="Logo"
                    src="https://blog.foxelyss.ru/assets/img/logo.png">
                </img> </a>
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a asp-page="/Privacy" class="nav-link px-2 text-body-secondary">Политика
                        конфиденциальности</a></li>
                <li class="nav-item"><a href="/About" class="nav-link px-2 text-body-secondary">О компании</a></li>
                <li class="nav-item"><a href="mailto:travel_booking@foxelyss.ru"
                        class="nav-link px-2 text-body-secondary">Написать нам на почту!</a></li>
                <li class="nav-item"><a href="https://blog.foxelyss.ru/ru/pages/about"
                        class="nav-link px-2 text-body-secondary">Об авторе</a></li>
            </ul>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>